n8n.helmy.xyz {
    reverse_proxy n8n:5678 {
      header_up X-Real-IP {remote}
      response_buffers 50mb
    }
    
  encode zstd gzip
  log {
    level DEBUG
  }
}

crawl4ai.helmy.xyz {
    reverse_proxy crawl4ai:11235 {
      header_up X-Real-IP {remote}
      response_buffers 50mb
    }
    
  encode zstd gzip
  log {
    level DEBUG
  }

}


